/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  color: var(--sl-color-green);
}

pre.astro-code.css-variables {
  border-radius: 8px;
}

article.card.sl-flex.astro-v5tidmuc {
  box-shadow: 0 8px 32px 0 #1f268700;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  /* border: 1px solid rgb(255, 255, 255); */
}

/* .action:where(.astro-yjy4zhro).primary {
  background: #2bdc0e;
} */

.primary {
  font-weight: 700;
}

/* :root {
  --sl-font: "Sono", serif;
} */

.jordan-card {
  height: 50px;
  width: 50px;
  border-radius: 12px;
  background-color: #ff6600;
}
