/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  color: rgb(44, 220, 13) !important;
}

pre.astro-code.css-variables {
  border-radius: 8px;
}

article.card.sl-flex.astro-v5tidmuc {
  border-radius: 8px;
  background: rgb(0 0 0 / 25%);
  box-shadow: 0 8px 32px 0 #1f268700;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgb(44, 220, 13);
}

/* :root {
  --sl-font: "Sono", serif;
} */
